.card{
    height: 100% !important;
    border: 1px solid black;
    border-radius: 10px;
}
.card-text{
    text-align: justify;
}
.vl {
    border-left: 1px solid #ced4da
}
.card-img, .card-img-bottom, .spancing{
    margin-left: 10px;
}
.imgTop{
    margin-top: -65px;
    margin-left: 400px;
}
.filterImg{
    margin-top: 10px;
    text-align: center;
}
.filterButton{
    background: none;
    border: none;
}
.absolute{
    position: absolute;
    margin-left: 320px;
    margin-top: 60px;
}
.filterGender { 
    border:2px solid #ccc; 
    width:300px; 
    overflow-y: scroll;
    background: #ccc;
    height: 240px;
}
.col{
    z-index: -1;
    position: relative;
}